/obj
/bin
/Bitbucket.Metrics.UnitTests/bin
/Bitbucket.Metrics.UnitTests/obj
/Bitbucket.Metrics.Api/bin
/Bitbucket.Metrics.Api/obj
Bitbucket.Metrics.Repository/bin
Bitbucket.Metrics.Repository/obj
Bitbucket.Metrics.Services/bin
Bitbucket.Metrics.Services/obj
Bitbucket.Metrics.Models/bin
Bitbucket.Metrics.Models/obj
.vscode